.Avatars {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    flex-flow: row;
}

@media (max-width: 400px){
    .Avatars {
        flex-flow: column;
    }
}