aiofiles==0.5.0
face-alignment==1.0.0
fastapi==0.65.2
imageio==2.8.0
opencv-python==4.2.0.34
pandas==1.0.3
Pillow==8.2.0
python-multipart==0.0.5
PyYAML==5.4
requests==2.23.0
scikit-image==0.17.2
scikit-learn==0.23.0
torch==1.1.0
torchvision==0.3.0
tqdm==4.46.0
uvicorn==0.11.7
uvloop==0.14.0
websockets==9.1
tensorflow-cpu
python_path
imageio-ffmpeg
moviepy
ffmpeg-python